apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # This name 'my-backend-image' MUST match the one in your kustomization.yml
          image: my-backend-image
          ports:
            - containerPort: 5000
          
          # --- ADD THIS BLOCK ---
          # This tells the container to load all key/value pairs
          # from the 'backend-secret' as environment variables.
          envFrom:
            - secretRef:
                name: backend-secret
          # ----------------------